<mat-card>
  <button mat-button id="send" (click)="init()">Init</button>
  <mat-card-header>Default Account</mat-card-header>
  <mat-card-content>
    <mat-form-field id="address-selector" class="address-field">
      <mat-select name="account" (selectionChange)="refreshDefaultAccountBalance()" [(value)]="default_account.account" placeholder="Address">
        <mat-option *ngFor="let account of web3Service.accounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>You have <span id="balance">{{default_account.balance}}</span> RCC</p>
  </mat-card-content>
</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        New Associated
    </mat-panel-title>
    <mat-panel-description>
        Alta de un nuevo asociado
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-header>Send newAssociated Transaction</mat-card-header>
    <mat-card-content>        
      <mat-form-field class="address-field">
        <input type="text" matInput id="new_associated_address" placeholder="Associated Address" (change)="setNewAssociatedAddress($event)">
      </mat-form-field>
      <mat-form-field class="address-field">
          <input type="text" matInput id="new_associated_name" placeholder="Associated Name" (change)="setNewAssociatedName($event)">
        </mat-form-field>
        <mat-form-field class="address-field">
            <input type="text" matInput id="new_associated_ref" placeholder="Associated Ref" (change)="setNewAssociatedRef($event)">
          </mat-form-field>
      <button mat-button id="send" (click)="newAssociated()">New Associated</button>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Associatted 
      </mat-panel-title>
      <mat-panel-description>
          Get Associatted
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-card>
      <mat-card-header>Get Associatted</mat-card-header>
      <mat-card-content>
        <mat-select name="associated_address" [(value)]="associated.address" placeholder="Address">
          <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
        </mat-select>
        <button mat-button id="getBalance" (click)="getAssociated()">Get Associatted</button>
        <p>Associated Address<span id="associated_address">{{associated.address}}</span></p>
        <p>Associated Name<span id="associated_name">{{associated.name}}</span></p>
        <p>Associated Ref<span id="associated_ref">{{associated.ref}}</span></p>
      </mat-card-content>
    </mat-card>
  
  </mat-expansion-panel>
  