<div class="card border-fujitsu w-100">
  <span  class="card-header-fujitsu bg-fujitsu" >Ask for Supply
      <button type="button" class="close card-close-fujitsu"  [attr.aria-label]="'Close'" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>            
  </span>  
  <div class="card-body card-body-fujitsu">
    <p class="ml-2 mt-1 mb-1" style="font-size: 0.9rem">
      Cualquier cuenta puede realziar una petición de Tokens a una de las Cuentas Asociada para proporcionar un servicio de reciclado. Los tokens concedidos no se almacenan directamente en la cuenta peticionaria sino que se permiten utilizar (Alloewd) y se descontarían directamente de la Cuenta Asociada.
    </p>
    <form class="form" [formGroup]="askForm" >          
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Associated Address</span>
        </div>
        <input type="text" class="form-control" placeholder="Address Associated" formControlName="address" disabled [(ngModel)]="ask.address" >        
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Amount</span>
        </div>
        <input type="number" class="form-control" placeholder="Amount" formControlName="amount" required [(ngModel)]="ask.amount" >
      </div> 
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Message</span>
        </div>
        <input type="text" class="form-control" placeholder="Message" formControlName="message" required [(ngModel)]="ask.message" >
      </div>      
      <div class="btn-group" style = "float:right">
        <button  type="submit" [disabled]="!askForm.valid" class="btn btn-mg btn-outline-secondary btn-fujitsu mr-1 pull-right" (click)="send()">Ask</button>        
        <button aria-label="Cancel" type="submit" class="btn btn-mg btn-outline-secondary btn-fujitsu pull-right" (click)="closeModal()">Cancel</button>      
      </div>
    </form>
  </div>
</div> 
