
<mat-card>
  <mat-card-header>Default Account</mat-card-header>
  <mat-card-content>
    <mat-form-field id="address-selector" class="address-field">
      <mat-select name="account" (selectionChange)="refreshBalance()" [(value)]="default_account.account" placeholder="Address">
        <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>You have <span id="balance">{{default_account.balance}}</span> RCC</p>
  </mat-card-content>
</mat-card>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        Envío Externo
    </mat-panel-title>
    <mat-panel-description>
        Envio de RCC a una dirección Externa
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-header>Send RCC Coin</mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput id="amount" placeholder="Amount" (change)="setAmount($event)">
      </mat-form-field>
      <mat-form-field class="address-field">
        <input type="text" matInput id="receiver" placeholder="Receiver Address" (change)="setReceiver($event)">
      </mat-form-field>
      <button mat-button id="send" (click)="sendRCC()">Send RCC Coin</button>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        Envío entre Cuentas
    </mat-panel-title>
    <mat-panel-description>
        Envio de RCC a una cuenta propia
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-header>Send RCC Coin to Wallet Account</mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput id="rcc_amount" placeholder="Amount" (change)="setRccAmount($event)">
      </mat-form-field>
      <mat-form-field id="address-selector" class="address-field">
          <mat-select name="account" (selectionChange)="refreshRccBalance()" [(value)]="rcc_account.account" placeholder="Address">
            <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-button id="send" (click)="sendRCCAccount()">Send RCC Coin</button>
      <p>The Balance of {{rcc_account.account}} is <span id="balance_rcc_account">{{rcc_account.balance}}</span> RCC</p>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Mint
      </mat-panel-title>
      <mat-panel-description>
          Genera RCC para una cuenta propia a través del método Mint
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-card>
      <mat-card-header>Generate RCC Coin to Wallet Account</mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput id="mint_amount" placeholder="Amount" (change)="setMintAmount($event)">
        </mat-form-field>
        <mat-form-field id="address-selector" class="address-field">
            <mat-select name="mint_account" (selectionChange)="refreshMintBalance()" [(value)]="mint_account.account" placeholder="Address">
              <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-button id="send" (click)="sendMintAccount()">Send RCC Coin</button>
        <p>The Balance of {{rcc_account.account}} is <span id="balance_mint_account">{{mint_account.balance}}</span> RCC</p>
      </mat-card-content>
    </mat-card>
  
  </mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        Saldo
    </mat-panel-title>
    <mat-panel-description>
        Comprobación de Saldo
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-header>Comprobación de Saldo</mat-card-header>
    <mat-card-content>
      <mat-form-field class="address-field">
        <input type="text" matInput id="balance_address" placeholder="Address" (change)="setAddressBalance($event)">
      </mat-form-field>
      <button mat-button id="getBalance" (click)="getBalance()">Get Balance</button>
      <p>The Balance is <span id="balance_account">{{balance_account.balance}}</span> RCC</p>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Add Minter
      </mat-panel-title>
      <mat-panel-description>
          Crea un nuevo Minter
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-card>
      <mat-card-header>Add Minter</mat-card-header>
      <mat-card-content>        
        <mat-form-field id="address-selector" class="address-field">
          <input type="text" matInput id="minter_account" placeholder="Address" (change)="setMinterAccount($event)">            
        </mat-form-field>
        <button mat-button id="send" (click)="sendAddMinter()">Add Minter</button>        
      </mat-card-content>
    </mat-card>
  
  </mat-expansion-panel>


    
